{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="banner">
    <img style="margin: auto; display: block;" src="/static/media/Christmas.png" alt="Christmas">
    </div>
      <div class="container">

        <div class="itemCat">

      <div id="Specials">

        <div id="TopSales">
          <h3 style="border-bottom: 1px solid black;"> Top Sales </h3>

            <div class="Topobject producthover">
              <img src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 2B </span>
                <br>
                <span class="price"> $1.00 </span>
              </div>
            </div>

            <div class="Topobject producthover">
              <img src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 4B </span>
                <br>
                <span class="price"> $1.35 </span>
              </div>
            </div>

            <div class="Topobject producthover">
              <img class="Sell" src="/static/media/Pen.jpg" alt="pen">
              <div class="description">
                <span class="name"> Pilot 0.5 </span>
                <br>
                <span class="price"> $2.00 </span>
              </div>
            </div>

            <div class="Topobject producthover">
              <img class="Sell" src="/static/media/Pen.jpg" alt="pen">
              <div class="description">
                <span class="name"> Captain 1.5 </span>
                <br>
                <span class="price"> $2.15 </span>
              </div>
            </div>

        </div>

        <div id="WhatsUp">
          <h3 style="border-bottom: 1px solid black;"> Whats Up!</h3>


          <div class="Whatobject producthover">
            <img src="/static/media/Pencil.jpg" alt="pencil">
            <div class="description">
               <span class="name"> 6B </span>
               <br>
               <span class="price"> $1.75 </span>
            </div>
          </div>

          <div class="Whatobject producthover">
            <img src="/static/media/Pencil.jpg" alt="pencil">
            <div class="description">
              <span class="name"> 8B </span>
              <br>
              <span class="price"> $2.05 </span>
            </div>
          </div>

        </div>

      </div>



      <div id="ProductContent">

        <div id="PencilContent">
          <h3 style="border-bottom: 1px solid black;"> Pencils </h3>
          <span class="ViewMore"> View More </span>

            <div class="Productobject producthover">
              <img src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 2B </span>
                <br>
                <span class="price"> $1.00 </span>
              </div>
            </div>

            <div class="Productobject producthover">
              <img src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 3B </span>
                <br>
                <span class="price"> $1.15 </span>
              </div>
            </div>

            <div class="Productobject producthover">
              <img src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 4B </span>
                <br>
                <span class="price"> $1.35 </span>
              </div>
            </div>

            <div class="Productobject producthover">
              <img class="Sell" src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 5B </span>
                <br>
                <span class="price"> $1.55 </span>
              </div>
            </div>

            <div class="Productobject producthover">
              <img class="Sell" src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 6B </span>
                <br>
                <span class="price"> $1.75 </span>
              </div>
            </div>

            <div class="Productobject producthover">
              <img class="Sell" src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 7B </span>
                <br>
                <span class="price"> $1.95 </span>
              </div>
            </div>

            <div class="Productobject producthover">
              <img class="Sell" src="/static/media/Pencil.jpg" alt="pencil">
              <div class="description">
                <span class="name"> 8B </span>
                <br>
                <span class="price"> $2.05 </span>
              </div>
            </div>

        </div>

        <div id="PenContent">
          <h3 style="border-bottom: 1px solid black;"> Pens</h3>
          <span class="ViewMore"> View More </span>


          <div class="Productobject producthover">
            <img class="Sell" src="/static/media/Pen.jpg" alt="pen">
            <div class="description">
              <span class="name"> Pilot 0.5 </span>
              <br>
              <span class="price"> $2.00 </span>
            </div>
          </div>

          <div class="Productobject producthover">
            <img class="Sell" src="/static/media/Pen.jpg" alt="pen">
            <div class="description">
              <span class="name"> Captain 1.5 </span>
              <br>
              <span class="price"> $2.15 </span>
            </div>
          </div>

        </div>

      </div>

          <div id="Cart"> View Cart</div>
          <br>
      </div>
    </div>
{% endblock %}
