{% extends "base.html" %}
{% block title %}About us{% endblock %}
{% block content %}
<head>
  <link rel="stylesheet" href="./static/about.css">
</head>
<h1 class="display-4">About Us</h1>
<div class="container">
  <div class="itemCat">

  <table style="margin-left:auto;margin-right:auto;text-align:left">
    <th colspan=9999 style="width:1100px"> Staff Information </th>

      <tr style="font-weight:bold">
        <td> Name </td>
        <td> Contact No. </td>
        <td> Email </td>
        <td> Address </td>
        <td> Job Title </td>
      </tr>

      <tr>
        <td> Bob </td>
        <td> 90112233 </td>
        <td> bobby@creati.com </td>
        <td> 441C Sengkang Road #07-11 SS999441 </td>
        <td> Data Analyst </td>
      </tr>
      <tr>
        <td> Amanda </td>
        <td> 92334455 </td>
        <td> amanda@creati.com </td>
        <td> 8 Ang Mo Kio Street #01-11 S999008 </td>
        <td> Marketing Coordinator </td>
      </tr>
      <tr>
        <td> John </td>
        <td> 91223344 </td>
        <td> john@creati.com </td>
        <td> 999 Yio Chu Kang Avenue #07-11 5111999 </td>
        <td> Data Analyst </td>
      </tr>
    <br>
  </table>

  <br>

  <table style="margin-left:auto;margin-right:auto;text-align:center">
    <div id="edit" style="margin-left:auto;margin-right:auto"> Edit </div>
    <th colspan=9999 style="text-align:center"> Our Agenda </th>
      <tr>
        <td style="height:auto;width:1100px;background-color: #E9E9E9;font-size:18px">
          We aim to provide stationery digitally for our consumers, cater to everyone.
        </td>
      </tr>
  </table>
{% endblock %}
