<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class= "SignInUpForm">
      <h2 class="Userhead" style="background-color: #404040; color: white; width: 25%; padding: 5px 10px; margin: 15px auto; border-style: solid; border-radius: 10px;" > CreatiTools </h2>
        <a href="signin.html"><button class="link" id="login" >Login</button></a>
        <button class="link" id="signup">Sign Up</button>
        <br> <br>
        <label for "username"> Username: </label> <div class="inputform">  <input type="text" name="username" id="userName" value=""> </div> <br>
        <label for "password"> Password: </label> <div class="inputform">  <input type="password" name="password" id="password" value=""> </div> <br>
        <label for "password"> Confirm Password: </label> <div class="inputform">  <input type="password" name="password" id="password" value=""> </div> <br> <br>
        <button id="signin" type="button">CREATE ACCOUNT</button>
    </div>
  </body>
</html>
